<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
 <div class="container mt-5">
      <h2 class="text-center alert alert-danger">Blog Page</h2>
      <h1>Create Post Page</h1>
          <!-- <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit New Post</button>
          </form> -->
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>